body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-image: -moz-linear-gradient(to top, white black);
background-repeat: no-repeat;
}
img {
height: 20vh;

}
.div_main {
    margin: 10%;
    width: 80%;
    height: 500px;
    background-color: aquamarine;
    border-radius: 20px;
}
.inner-div { margin: 20px; }
h2 {
    margin: 20px;
}